#map {
    height: 65%;
    top: -12.7%;
    padding-bottom: 60px;
}
/* Optional: Makes the sample page fill the window. */
.main-home {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#fffbf4, #cc9941);
    min-height:100%;
    position:relative;
    padding: 0px;
}